:root {
    --pt-serif-font-family: "PT Serif", Helvetica;
    --pt-serif-font-weight: 400;
    --pt-serif-font-size: 16px;
    --pt-serif-letter-spacing: 0px;
    --pt-serif-line-height: 27px;
    --pt-serif-font-style: normal;
  }
  